body{
  background-color: #dadbd9;
}
#number{
  width: 70%;
}

h1{
  text-align: center;
}

body{
  padding: 20px;
}

form{
  padding-top: 50px;
}

#output{
  display: none;
}
.jumbotron {
  background-color: #84a7e0;
}
#rules{
  float: left;
  padding: 30px;
  width: 30%;
  background-color:#acd1e2
}

#container {
 float: right;
 padding-right: 40%;
}
